* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
}

/* Nav Section */
.navLogo {
    padding: 18px 0;
}

.characterSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

form {
    width: 500px;
    padding-left: 30px;
}

#userSearch, .serverLabel {
    margin-top: 5px;
}

#userSearch {
    width: 100%;
    font-size: 20px;
}

.serverLabel {
    font-size: 20px;
}

#serverList {
    width: 100%;
    font-size: 20px;
}

#serverList  option {
    font-size: 16px;
}

#submitBtn {
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
}

.nav {
    margin-top: 200px;
}

.navTop {
    margin-top: 0;
}

/*Character Results Section */
.results {
    margin-top: 50px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li {
    width: 400px;
    background-color: gray;
    height: 96px;
    margin: 0 5px;
    list-style-type: none;
}

a {
    display: inline-block;
    width: 400px;
    height: 96px;
}

/* Character Data Section */

.characterBox {
    width: 1000px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}

.charPortrait {
    height: 400px;
    width: 250px;
}

@media screen and (max-width: 600px) {


    form {
        width: 300px;
        padding-left: 10px;
    }
}