* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
}

/* Nav Section */
.navLogo {
    padding: 18px 0;
}

.characterSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

form {
    width: 500px;
    padding-left: 30px;
}

#userSearch, .serverLabel {
    margin-top: 5px;
}

#userSearch {
    width: 100%;
    font-size: 20px;
}

.serverLabel {
    font-size: 20px;
}

#serverList {
    width: 100%;
    font-size: 20px;
}

#serverList  option {
    font-size: 16px;
}

#submitBtn {
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
}

.nav {
    margin-top: 200px;

}

.navTop {
    margin-top: 0;
}

/*Character Results Section */
#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.results {
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

.searchResults {
    width: 400px;
    background-color: gray;
    height: 96px;
    margin: 0 5px;
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
}

a {
    display: inline-block;
    width: 400px;
    height: 96px;
}

/* Character Data Section */

.characterBox {

    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.hidden {
    display: none;
}


.leftSideContainer {
    padding: 5px 10px 5px 10px;

    background-color: aliceblue;

}
.nameAndServer {
    text-align: center;

}


.characterPortrait {
    width: 320px;
    padding-bottom: 5px;

}

.charPortrait {
    height: auto;
    width: 320px;

}

.jobIcon {
    width: 23px;
    height: 23px;
}

.placeholder {
    opacity: 0;
    width: 23px;
    height: 23px;
}

.jobOverview {
    width: 300px;
    padding-left: 10px;
}

.jobSpecific {
    display: inline-block;
}
.jobLevel {
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Gear/Character Stats section */

.stats {
    width: 60%;
    background-color: aliceblue;

}

.header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header,.activeJob,.activeLevel,.minions,.mounts {
    display: inline-block;
}

.activeLevel {
    padding-left: 10px;
}

.minionsMounts {
    float: right;
}

.mounts {
    padding-right: 10px;
}

.activeJobIcon {
    height: 40px;
    width: 40px;
    float: left;
}

.mainAttribute {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid gray;
    margin-top: 20px;

}

.attributeNameAndNumber {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftSide, .rightSide {
    width: 50%;
}

.leftSide {
    padding-right: 15px;
}

.rightSide {
    padding-left: 15px;
}

.secondaryProp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.gearColumns, .gear {

    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-top: 10px;
  

}

.bodyParts {
    display: flex;
    flex-direction: column;
}

.bodyPart {
    height: auto;
    list-style-type: none;
}

@media screen and (max-width: 860px) {
    .minionsMounts {
        display: inline-block;
        padding-left: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 690px){
    .stats {
        width: 75%;
    }

}


@media screen and (max-width: 640px) {


    form {
        width: 300px;
        padding-left: 10px;
    }


}


@media screen and (max-width: 420px) {

    .stats {
        width: 100%;
    }
}

@Media screen and (max-width: 400px) {
    .searchResults {
        width: 100%;
        background-color: gray;
        height: 96px;
        margin: 0 5px;
        list-style-type: none;
        display: inline-block;
        margin-top: 10px;
    }

    .nav {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 200px;
    }

    .navTop {
        margin-top: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
}