* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    padding: 0;
    background-color: #2b2b31;
    padding-bottom: 60px;
}

/* Nav Section */
.navLogo {
    padding: 18px 0;
}

.nav {
    margin-top: 200px;
}

.characterSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #363647;
    padding: 10px;
    color: white;
    box-shadow: inset 0 -2px 10px #000000;
}

form {
    width: 500px;
    padding-left: 30px;
}

#userSearch, .serverLabel {
    margin-top: 5px;
}

#userSearch {
    width: 100%;
    font-size: 20px;
}

.serverLabel {
    font-size: 20px;
}

#serverList {
    width: 100%;
    font-size: 20px;
}

#serverList  option {
    font-size: 16px;
}

#submitBtn {
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
}

.navTop {
    margin-top: 0;
}

/*Character Results Section */
#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.results {
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 7px;
}

.searchResults {
    width: 400px;
    background-color: #363647;
    height: 110px;
    margin: 0 5px;
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 15px;
}

.searchResults span {
    padding-left: 15px;
}

a {
    display: inline-block;
    width: 400px;
    height: 110px;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

/* Character Data Section */

.characterBox {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    color: white;
}

.hidden {
    display: none;
}

.leftSideContainer {
    padding: 5px 10px 5px 10px;
    background-color: #363647;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #000000;
}
.nameAndServer {
    text-align: center;
}

.nameAndServer p {
    margin: 0;
    line-height: 1.6;
}

.characterPortrait {
    width: 320px;
    padding-bottom: 5px;
}

.charPortrait {
    height: auto;
    width: 320px;
    border-radius: 15px;
}

.jobIcon {
    width: 23px;
    height: 23px;
}

.placeholder {
    opacity: 0;
    width: 23px;
    height: 23px;
}

.jobOverview {
    width: 300px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.jobSpecific {
    display: inline-block;
}

.jobLevel {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3px;
}

/* Gear/Character Stats section */

.stats {
    width: 60%;
    color: white;
    background-color: #363647;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: inset 0 0 10px #000000;
}

.header {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px
}

.header,.activeJob,.activeLevel,.minions,.mounts {
    display: inline-block;
}

.activeLevel {
    padding-left: 10px;
}

.expIcon {
    width: 23px;
    height: 23px;
    vertical-align: middle;
}

.exp {
    padding-left: 10px;
}

.exp p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}

.minionsMounts {
    float: right;
}

.mounts {
    padding-right: 10px;
}

.activeJobIcon {
    height: 40px;
    width: 40px;
    float: left;
}

.mainAttribute {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 18px;
}

.title {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid gray;
}

.attributeNameAndNumber {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 3px;
}

.leftSide, .rightSide {
    width: 50%;
}

.leftSide {
    padding-right: 15px;
}

.rightSide {
    padding-left: 15px;
}

.secondaryProp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.gearColumns {
    background-color: #363647;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    box-shadow: inset 0 0 10px #000000;
    min-width: 550px;
    padding: 0 25px;
}

.left {
    padding: 0;
}

.bodyParts {
    display: flex;
    flex-direction: column;
}

.bodyPart {
    height: auto;
    list-style-type: none;
}

/* footer */

.footer {
    color: white;
    position: absolute;
    width: 100%;
    text-align: right;
    height: 60px;
}

.bottom {
    bottom: 0;
}

@media screen and (max-width: 900px){
    .stats {
        margin-left: 10px;
    }
}

@media screen and (max-width: 860px) {
    .minionsMounts {
        display: inline-block;
        padding-left: 40px;
        width: 100%;
    }

    .stats {
        margin-left: 0;
    }
}

@media screen and (max-width: 840px) {
    .mainAttribute {
        margin-top: 0;
    }
}

@media screen and (max-width: 690px){
    .stats {
        width: 75%;
    }

}

@media screen and (max-width: 640px) {
    form {
        width: 300px;
        padding-left: 10px;
    }

    .gearColumns {
        padding: 0 15px;
    }
}

@media screen and (max-width: 560px) {
    .gearColumns {
        min-width: 0;
        padding: 0 5px;
    }

}

@media screen and (max-width: 420px) {
    .stats {
        width: 100%;
    }
}

@Media screen and (max-width: 400px) {
    .searchResults {
        width: 100%;
        height: 110px;
        margin: 0 5px;
        list-style-type: none;
        display: inline-block;
        margin-top: 10px;
    }

    .searchResults span {
        padding-left: 0;
    }

    .nav {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 200px;
    }

    .navTop {
        margin-top: 0;
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* Stat Section coloring */

.attrStr, .attrDex, .attrVit {
    color: green;
}

.attrInt, .attrMnd {
    color: #9d45c5;
}
